<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ProcesarCompra</servlet-name>
        <servlet-class>sv.edu.udb.www.controller.ProcesarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarCompraCarrito</servlet-name>
        <servlet-class>sv.edu.udb.www.controller.ProcesarCompraCarrito</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcesarCompra</servlet-name>
        <url-pattern>/ProcesarCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarCompraCarrito</servlet-name>
        <url-pattern>/ProcesarCompraCarrito</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
